In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:25pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:24pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:21pt;padding:5px;}
table.dataframe{font-size:24px;}
</style>
"""))

<b><font color="red" size="5">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [3]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [5]:
type(my_msg), type(my_message)

(function, function)

In [1]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [9]:
my_message(2, 'Hello')

Hello
Hello

In [10]:
my_message = 5

In [11]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [12]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [13]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [4]:
# 함수 정의 : 4월16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [6]:
# 함수사용=함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [7]:
my_hello

In [9]:
__name__

'__main__'

In [10]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05 # ch05모듈을 load

In [2]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
from ch05 import my_hello # ch05모듈안의 my_hello load

In [4]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [7]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [9]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [10]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [12]:
fibonacci(10)

0 1 1 2 3 5 8

In [15]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [19]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [23]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [26]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [29]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [33]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 300
함수 밖 g_var : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [47]:
foo = 10 # 전역변수
id(foo)

2956227445264

In [48]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f*3
    print('After :', f , ' id(f) :', id(f))
func1(foo)

Before : 10  id(f) : 2956227445264
After : 30  id(f) : 2956227445904

In [49]:
print(foo, id(foo))

10 2956227445264

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [37]:
L = [1, 2, 3]
id(L)

2956348570496

In [50]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3, 4, 4] 2956348570496
After : [1, 2, 3, 4, 4, 4] 2956348570496

In [51]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4, 4] 2956348570496

# 2절. 함수의 실행결과를 반환하는 return

In [64]:
def fibonacci_print(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행    
def fibonacci_return(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [62]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [65]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [66]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [70]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y ={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y ={y}')

함수 실행 전 x=5, y =10
함수 실행 후 x=10, y =5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [77]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [79]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [20]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [21]:
i = 50
func2()

arg =  5

In [22]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [23]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [25]:
print(func3(20))

[10, 20]

In [26]:
list_

[10, 20]

In [30]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [28]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [33]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [34]:
add(1,2,3,4)

TypeError: add() missing 1 required positional argument: 'c'

In [44]:
# *args: 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ',args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [46]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [48]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [49]:
def concat(*subject, sep):
    return sep.join(subject)

In [50]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [53]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [65]:
# 해결책2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [66]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [67]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [83]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [81]:
concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [93]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [97]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [95]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [101]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [99]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [102]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [105]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [106]:
func7(10, 20, 1, 2, 3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹 
- 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [110]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [111]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [114]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [115]:
numbers = (1,2,3,4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [131]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [132]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [136]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [137]:
def add(a, b):
    return a+b
add(3, 4)

7

In [138]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [139]:
type(add), type(add2)

(function, function)

In [140]:
(lambda a, b : a+b)(3, 4)

7

In [141]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [142]:
# ex2. 두 매개변수의 차이를 return
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [144]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [145]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [148]:
# ex4. 점수를 입력받아 점수가 100이하80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험. 
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [ ]:
# ex5. safe_index를 람다식으로 
def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1

In [149]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용
### (1) map

In [2]:
def map_template(func, L=[]):
    'L의 모든 요소를 func()함수를 적용시켜 return'
    result = []
    for l in L:
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [4]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
for item in map(lambda x : x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [16]:
'''
예1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [14]:
def func(x):
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [17]:
list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [ ]:
'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]를
    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1998-12-31'},]

In [29]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day'  : int(split_data[2])
           }

In [30]:
split_date("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [ ]:
'예3. member2를 member1로 바꿉니다'