In [19]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:25pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:24pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:21pt;padding:5px;}
table.dataframe{font-size:24px;}
</style>
"""))

<b><font color="red" size="6">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [3]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [5]:
type(my_msg), type(my_message)

(function, function)

In [1]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [9]:
my_message(2, 'Hello')

Hello
Hello

In [10]:
my_message = 5

In [11]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [12]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [13]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [4]:
# 함수 정의 : 4월16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [6]:
# 함수사용=함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [7]:
my_hello

In [9]:
__name__

'__main__'

In [10]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05 # ch05모듈을 load

In [2]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
from ch05 import my_hello # ch05모듈안의 my_hello load

In [4]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [7]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [9]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [10]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [12]:
fibonacci(10)

0 1 1 2 3 5 8

In [15]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [19]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [23]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [26]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [29]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [33]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 300
함수 밖 g_var : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [47]:
foo = 10 # 전역변수
id(foo)

2956227445264

In [48]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f*3
    print('After :', f , ' id(f) :', id(f))
func1(foo)

Before : 10  id(f) : 2956227445264
After : 30  id(f) : 2956227445904

In [49]:
print(foo, id(foo))

10 2956227445264

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [37]:
L = [1, 2, 3]
id(L)

2956348570496

In [50]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3, 4, 4] 2956348570496
After : [1, 2, 3, 4, 4, 4] 2956348570496

In [51]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4, 4] 2956348570496

# 2절. 함수의 실행결과를 반환하는 return

In [64]:
def fibonacci_print(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행    
def fibonacci_return(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [62]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [65]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [66]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [70]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y ={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y ={y}')

함수 실행 전 x=5, y =10
함수 실행 후 x=10, y =5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [77]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [79]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [20]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [21]:
i = 50
func2()

arg =  5

In [22]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [23]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [25]:
print(func3(20))

[10, 20]

In [26]:
list_

[10, 20]

In [30]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [28]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [33]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [34]:
add(1,2,3,4)

TypeError: add() missing 1 required positional argument: 'c'

In [44]:
# *args: 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ',args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [46]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [48]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [49]:
def concat(*subject, sep):
    return sep.join(subject)

In [50]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [53]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [65]:
# 해결책2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [66]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [67]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [83]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [81]:
concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [93]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [97]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [95]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [101]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [99]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [102]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [105]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [106]:
func7(10, 20, 1, 2, 3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹 
- 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [110]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [111]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [114]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [115]:
numbers = (1,2,3,4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [131]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [132]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [136]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [137]:
def add(a, b):
    return a+b
add(3, 4)

7

In [138]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [139]:
type(add), type(add2)

(function, function)

In [140]:
(lambda a, b : a+b)(3, 4)

7

In [141]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [142]:
# ex2. 두 매개변수의 차이를 return
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [144]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [145]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [148]:
# ex4. 점수를 입력받아 점수가 100이하80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험. 
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [ ]:
# ex5. safe_index를 람다식으로 
def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1

In [149]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용
### (1) map

In [2]:
def map_template(func, L=[]):
    'L의 모든 요소를 func()함수를 적용시켜 return'
    result = []
    for l in L:
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [4]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
for item in map(lambda x : x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [16]:
'''
예1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [14]:
def func(x):
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [17]:
list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [33]:
'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]를
    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1998-12-31'},]

In [29]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day'  : int(split_data[2])
           }

In [30]:
split_date("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [34]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [64]:
member2 =list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'month':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2]),
                        } ,
         member1
        )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [ ]:
'예3. member2를 member1로 바꿉니다'

In [48]:
# {'year': 2000, 'month': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
    # print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [55]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [ ]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                  year = data.get('year'), 
                                  month=data.get('month'), 
                                  day=data.get('day')))

In [59]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [60]:
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [66]:
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [65]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1}(member2)를 
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth': "{year}-{month:02}-{day:02}".format(**member)
                        },
    member2
))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map : [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 컴프리헨션

In [67]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [68]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(-9)

(True, False)

In [69]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0 ,  list_data)

[2, 4]

In [72]:
list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [73]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [75]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [78]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [79]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [80]:
# 무조건 0번째 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [85]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [84]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda data : sum(data), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [96]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [101]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key = lambda item : item.get('name','힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [103]:
# score순으로 정렬(내림차순정렬 : reverse=True)
students.sort(key = lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [5]:
# 책제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순정렬
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]

In [7]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [8]:
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [9]:
books.sort(key = lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
# '14,000' -> 14000 / "2000" -> 2000 / 800 -> 800 / '-' -> 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [38]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, 0)

In [50]:
# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return
# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220
# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
            book.get('price').replace(',','').isdigit():
        return int( book.get('price').replace(',','') )
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
parse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])

(0, 900, 14220, 0)

In [56]:
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]
copy_books = books.copy() # 깊은 복사

In [57]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0                
               )

In [60]:
# 람다식 테스트 확인
(lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 )(books[0])

0

In [58]:
copy_books

[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

In [59]:
books

[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

## 4.3 return문에 람다식 이용

In [61]:
# 함수를 return
def make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,
                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [66]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

In [67]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [64]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [68]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:25pt;}\ndiv.text_cell_render.rendered_html{font-size:18pt;}\ndiv.output {font-size:24pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:21pt;padding:5px;}\ntable.dataframe{font-size:24px;}\n</style>\n"""))',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:25pt;}\ndiv.text_cell_render.rendered_html{font-size:18pt;}\ndiv.output {font-size:24pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:21pt;padding:5px;}\ndiv.text_cell_render ul li pre{font-size:21pt;padding:5px;}\ntable.dataframe{font-size:24px;}\n</style>\n"""))',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:25pt;}\ndiv.text_cell_render.rendered_html{font-size:18pt;}\ndiv.output {font-size:24pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:21pt;padding:5px;}\ndiv.text_cell_render ul li pre code{font-size:21pt;padding:5px;}\ntable.dataframe{font-size:24px;}\n</style>\n"""))',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:90% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.input_prompt{padding:0px;}\ndiv.CodeMirror {font-family:Consolas; font-size:25pt;}\ndiv.text_cell_render.rendered_html{font-size:18pt;}\ndiv.output {font-size:24pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:21pt;padding:5px;}\ntable.dataframe{font-size:24px;}\n</style>\n"""))',
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
  "books.sort(key = lambda book : book.get('title'))",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "books.sort(key = lambda book : book.get('price', 0))\nbooks",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  'parse_int("800")',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, int):\n        return price",
  'parse_int(800)',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if  price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price',
  'parse_int("8000")',
  'parse_int("8,000")',
  'parse_int(8000)',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price',
  'parse_int(8000)',
  'parse_int("8,000")',
  'parse_int("8,000"), parse_int("8000"), parse_int(800)',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  'price = " "',
  "price.replace(',','').isdigit()",
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) & price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) & (price.replace(\',\',\'\').isdigit()):\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if (isinstance(price, str)) & (price.replace(\',\',\'\').isdigit()):\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if (isinstance(price, str)) and (price.replace(\',\',\'\').isdigit()):\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if (isinstance(price, str)) & (price.replace(\',\',\'\').isdigit()):\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), \n                  str) and book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) \n    and book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[4])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[5])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[3])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[3]), parse_int(books[2])",
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy()",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  'copy_books',
  'books',
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  'copy_books',
  'books',
  "(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  '# 함수를 return\ndef make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,\n                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'line_func = make_box([2,3])',
  'line_func = make_box([2,3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    else len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'line_func = make_box([2,3])\nline_func(3)',
  'globals()'],
 '_oh': {7: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],
  8: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],
  14: 800,
  16: 8000,
  17: 8000,
  20: 8000,
  21: 8000,
  22: (8000, 8000, 800),
  23: (8000, 8000, 800, None),
  25: (8000, 8000, 800, 0),
  27: False,
  34: (8000, 8000, 800, 0),
  38: (8000, 8000, 800, 0),
  41: 0,
  42: 0,
  43: 0,
  45: 0,
  46: (0, 25200),
  47: (0, 0),
  48: (0, 900),
  49: (0, 900, 14220),
  50: (0, 900, 14220, 0),
  54: [{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}],
  55: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  58: [{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}],
  59: [{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}],
  60: 0,
  63: [[3, 3, 3], [3, 3, 3]],
  64: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  67: [[3, 3, 3], [3, 3, 3]]},
 '_dh': [WindowsPath('D:/ai_x/source/01_python')],
 'In': ['',

In [70]:
all([True, True, True, False]) # 전부 True인지 여부

False

In [71]:
round(3.5) # 반올림

4

In [77]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 6절. 연습문제
## 실습형

In [83]:
# 실습형1.최대값 최소값을 리턴
def get_max_min(data_list):
    return max(data_list), min(data_list)

get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([1,2,3,4,5,6,])

(6, 1)

In [190]:
# 실습형2. 체중과 키를 입력받아 BMI지수에 따른
    #‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수
def getBMI(kg, m):
    bmi = kg / (m**2) # kg / m**2 동일
    if bmi < 18.5:
        print('마른체형')
    elif 18.5 <= bmi < 25:
        print('표준')
    elif 25 <= bmi < 30:
        print('비만')
    else:
        print('고도비만')

getBMI_lambda = lambda kg, m : '마른체형' if kg / (m**2) < 18.5 else \
                        '표준' if 18.5 <= kg / (m**2) < 25 else \
                        '비만' if 25 <= kg / (m**2) < 30 else \
                        '고도비만'
getBMI(70, 1.75)
print(getBMI_lambda(70, 1.75))

표준
표준

In [191]:
# 실습형 3. 직각삼각형의 width, height로 area, perimeter(둘레)를 return
import math
def get_triangle(width, height):
    area = width * height * 0.5
    perimeter = width + height + math.sqrt(width*width + height*height)
    return {'넓이':area, '둘레':perimeter}
 # math 모듈을 사용하라고 하지만 구현능력을 위해 하드코딩이라고 함(훈련생 曰)
get_triangle_lambda = lambda width, height : {
        '넓이':width * height * 0.5,
        '둘레':width + height + (width*width + height*height)**0.5
}
get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [115]:
# cf. 제곱근을 구하는 함수
import math
math.sqrt(25)

5.0

In [195]:
# 실습형 4.fRom부터 end까지 모든 정수의 합 리턴(fRom, end 포함)
def mysum(fRom, end):
    sum = 0
    for i in range(fRom, end+1):
        sum += i
    return sum
mysum2 = lambda fRom, end : sum(range(fRom, end+1))
print(mysum(10, 12)) #일반함수 이용 10+11+12
print(mysum2(10, 12))

33
33

In [122]:
# 실습형 5. 문자열 리스트가 입력될 때 첫 세글자로만 구성된 리스트 return 함수와 람다식 작성
test = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def get_abbrs(lst):
    return [x[:3] for x in lst]

print(get_abbrs(test)) # 일반 함수 이용
print((lambda l : [x[:3] for x in l])(test)) #람다식 이용

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [198]:
# 실습형 6 함수를 람다식으로 변경
fun = lambda x, y : x**y
print(fun(2, 3))
print((lambda x, y : x**y)(2,3))

8
8

In [128]:
# 실습형 7. 람다함수와 map함수 이용
ex = [1,2,3,4,5]
list(map(lambda x : x**2, ex))

[1, 4, 9, 16, 25]

In [129]:
# 실습형 7. 리스트컴프리헨션 이용
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [132]:
# 실습형 8. 다음 print문이 다른 결과가 나오는 이유
a = [1,2,3]
print(*a)
print(a)
answer="""
별표(asterisk, *)는 함수의 인자(argument)로 사용될 때, 
시퀀스형 자료형의 각각의 값(element)을 하나의 값(element)으로 넣어주게 된다(언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0], a[1], a[2])으로 나타나게 된다.
"""

1 2 3
[1, 2, 3]

In [9]:
# 실습형 9.
date_info = {'year':'2025', 'month':'4', 'day':'1'}
result = "{year}-{month:>02}-{day:>02}".format(**date_info)
# result = "{year}-{month}-{day}".format(year='2025', month=4, day=18)
# '2024-09-06을 원하면'
result

'2025-04-01'

In [159]:
# 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들을 return 하는 함수
def vector_size(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return result

def vector_size(*vector_var):
    return [len(vector) for vector in vector_var]

vector_size([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2})

[2, 2, 2, 2]

In [10]:
# 원래 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : 셋 이용
def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1

vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [11]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

False

In [12]:
# 원래 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : all이용
def vector_size(*vector_var):
    return all([len(vector) for vector in vector_var])

vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [13]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

False

In [16]:
all([5, 5, 5])

True

In [162]:
# 실습형 11 scalar_vector_product(5, [1,2,3,4]) => [5,10,15,20]
def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]
scalar_vector_product(5, [1,2,3,4])

[5, 10, 15, 20]

## 서술형

In [163]:
# 서술형 1 ②
pairs = [(1, 'd'),(2, 'c'),(3,'b'),(4,'a')]
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [168]:
# 서술형 2.

In [18]:
a = 10 # 전역변수
def sub():
    global a # 문제해결을 위한 코드
    a += 1
    print(a, end='(sub에서 a는 전역변수) ')
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func에서 a는 지역변수) ')
        sub()
func()
answer ='''
오류가 발생하는 라인 : 원래 3번째줄(a += 1부분)
a = a+1 : a에 값을 할당하면 지역변수가 됨
          지역변수 a+1를 계산할 수 없음
문제해결을 위해 : 에러나는 줄 앞에 global a 선언
'''

6(func에서 a는 지역변수) 11(sub에서 a는 전역변수) 6(func에서 a는 지역변수) 12(sub에서 a는 전역변수)

In [173]:
# 서술형 3. 실행결과
var = 100
def func(var): # 매개변수로 들어온 변수는 지역변수
    var = 200  # 그러므로 var는 전역변수가 아니고 지역변수
func(var)
print(var)

100

In [174]:
# 서술형 4. 실행결과
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [178]:
np.add(2, 3)

5

In [179]:
# 서술형 5 실행결과
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [180]:
# 서술형 6 (1) 함수의 오버로딩 불가

In [182]:
# 서술형 7 (4) func([], a=40) a는 순서인수라서 무조건 첫 매개변수는 a로
list_ = []
def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print('①',func(10, list_))
print('②',func(20, L=list_))
print('③',func(a=30))
# func([], a=40)이라고 하면 우선 첫번째 매개변수를 순서인수 a에 할당하고
#          a=40을 중복할 당함 (에러 메세지 아래와 같음

① [10]
② [10, 20]
③ [30]

In [183]:
func([], a=40)

TypeError: func() got multiple values for argument 'a'

In [ ]:
# 서술형 8. lambda