In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:25pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:24pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:21pt;padding:5px;}
table.dataframe{font-size:24px;}
</style>
"""))

<b><font color="red" size="6">ch11. 데이터프레임과 시리즈(Pandas)</font></b>
# 9절. 데이터 그룹화 및 집계

In [5]:
from statsmodels.api import datasets
iris = datasets.get_rdataset('iris').data
iris.iloc[::25]

     Sepal.Length  ...     Species
0             5.1  ...      setosa
25            5.0  ...      setosa
50            7.0  ...  versicolor
75            6.6  ...  versicolor
100           6.3  ...   virginica
125           7.2  ...   virginica

[6 rows x 5 columns]

## 9.1 Goupby
cf. pivot_table

In [16]:
# 1) 그룹화 방법1
#      df.groupby(by=[그룹핑할열])[함수적용해서 출력할 열들].기초통계함수()
#             [함수적용해서 출력할 열들] 생략시 그룹핑할열을 제외한 모든 열 적용  
iris_grouped = iris.groupby(iris.Species)
iris_grouped = iris.groupby(['Species'])
iris_grouped = iris.groupby('Species')
for group, data in iris_grouped:
    print(group)
    display(data.sample(2).sort_index())

setosa

    Sepal.Length  ...  Species
0            5.1  ...   setosa
11           4.8  ...   setosa

[2 rows x 5 columns]

versicolor

    Sepal.Length  ...     Species
81           5.5  ...  versicolor
98           5.1  ...  versicolor

[2 rows x 5 columns]

virginica

     Sepal.Length  ...    Species
134           6.1  ...  virginica
148           6.2  ...  virginica

[2 rows x 5 columns]

In [9]:
iris.groupby(by='Species').mean()[['Petal.Length','Petal.Width']]
iris.groupby(by='Species')[['Petal.Length','Petal.Width']].mean()

            Petal.Length  Petal.Width
Species
setosa             1.462        0.246
versicolor         4.260        1.326
virginica          5.552        2.026

In [29]:
iris_grouped_sum = iris.groupby('Species').median()
# iris_grouped_sum.reset_index()
iris_grouped_sum

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa               5.0  ...          0.2
versicolor           5.9  ...          1.3
virginica            6.5  ...          2.0

[3 rows x 4 columns]

In [28]:
iris_grouped_sum.loc[['setosa','versicolor']]

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa               5.0  ...          0.2
versicolor           5.9  ...          1.3

[2 rows x 4 columns]

In [24]:
iris_grouped_sum2 = iris.groupby('Species', as_index=False).sum()
iris_grouped_sum2

      Species  ...  Petal.Width
0      setosa  ...         12.3
1  versicolor  ...         66.3
2   virginica  ...        101.3

[3 rows x 5 columns]